#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

#container a {
    text-decoration: none;
}

#redBtn {
    --background: rgb(255, 0, 0);
}

#greenBtn {
    --background: rgb(0, 255, 0);
}

#blueBtn {
    --background: rgb(0, 0, 255);
}

#orangeBtn {
    --background: rgb(255, 123, 0);
}

#yellowBtn {
    --background: rgb(255, 255, 0);
}

#chartrueseBtn {
    --background: rgb(123, 255, 0);
}

#springGreenBtn {
    --background: rgb(0, 255, 123);
}

#cyanBtn {
    --background: rgb(0, 255, 255);
}

#azureBtn {
    --background: rgb(0, 123, 255);
}

#violetBtn {
    --background: rgb(123, 0, 255);
}

#magentaBtn {
    --background: rgb(255, 0, 255);
}

#roseBtn {
    --background: rgb(255, 0, 123);
}

.color-btn {
    height: 4rem;
    width: 100%;
}